/*#Overall background color for the site*/
body {background-color:#f7f1ed; }

/*#Font for the different titles*/
h1 {
  font-family: 'Pacifico';
  font-size: 36px; 
}
h3 {
  font-family: 'Pacifico';
  font-size: 15px;
 }

/*#Pour les différentes images*/
    /*#Pour les images de la banière du site*/
img { width : 100px; height : 100px; } 
.img1 {
  position:absolute; 
  left: 1%; 
  top: 7%; 
} 
.img2 {
  position:absolute; 
  right: 1%; 
  top: 7%; 
} 

    /*#Pour les 3 images page index*/
.image3 { width : 300px; height : 200px; position: absolute;  left: 20%; }
.image4 { width : 300px; height : 200px; position: absolute;  left: 45%; }
.image5 { width : 300px; height : 200px; position: absolute;  left: 70%; }
    /*#Legende des trois images*/
.legimg3 {position:absolute; left: 23%; top: 70%; }
.legimg4 {position:absolute; left: 49%; top: 70%; }
.legimg5 {position:absolute; left: 72%; top: 70%; }


    /*#Pour les images de résaux sociaux*/
.img6 { width : 30px; height : 30px}
.img7 { width : 30px; height : 30px}
.img8 { width : 30px; height : 30px}
.img9 { width : 30px; height : 30px}

/*#Pour les différentes boites de texte*/
.box {background-color:#fc71b5; border:solid; border-color:#8B008B; border-width: 2px; border-radius: 40px;}
.box1 {background-color:#fc71b5; border:solid; border-color:#8B008B; border-width: 2px; }
  /*#Pour Page Connexion*/
    /*#Je suis: UN PARTICULIER*/
.box3 { 
  border-radius: 30px;
  padding-left: 10px; 
  padding-right: 10px; 
  background-color: #129e68; 
  border: solid; 
  border-color:#693a24b0; 
  border-width: 2px; 
  float:left; 
  position: absolute; 
  left:40px;
}
.box3-1 {
  padding-left: 10px; 
  padding-right: 10px; 
  background-color: #f5f5f5; 
  border: solid; 
  border-color:#759e59;
}
.box3-2 {
  padding-left: 10px; 
  padding-right: 10px; 
  padding-top: 10px; 
  background-color: #f5f5f5; 
  border: solid; 
  border-color:#759e59;
}
    /*#Je suis: UN PROFESSIONEL*/
.box2 { 
  border-radius: 30px;
  padding-left: 10px; 
  padding-right: 10px; 
  background-color: #a5e22c; 
  border: solid; 
  border-color:#d1ac8a6c; 
  border-width: 2px; 
  float: right; 
  position: absolute; 
  right: 40px;
}
.box2-1 {
  padding-left: 10px; 
  padding-right: 10px; 
  background-color: #f5f5f5; 
  border: solid; 
  border-color:#759e59;
}
.box2-2 {
  padding-left: 10px; 
  padding-right: 10px;
  padding-top: 10px; 
  background-color: #f5f5f5; 
  border: solid; 
  border-color:#759e59;
}


    /*#Pour Page Contact*/
.box4  {
  border-radius: 30px; 
  padding-left: 10px; 
  padding-right: 10px; 
  background-color: #fc71b5; 
  border: solid; 
  border-color:#8B008B;
  width:500px; 
  height: 200px;
 }


    /*#Pour Page Inscription*/

.box31 { 
  border-radius: 30px;
  padding-left: 10px; 
  padding-right: 10px; 
  background-color: #129e68; 
  border: solid; 
  border-color:#693a24b0; 
  border-width: 2px;  
  display: table;
  position: absolute;
  left: 30%;
  right: 30%;
  height: 30%;
  display: table-cell;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
} 


    /*Pour la page BigData :*/
.box40 { 
  border-radius: 30px;
  padding-left: 10%; 
  padding-right: 10%; 
  background-color: #e4e4e4;  
  border: solid; 
  border-color:#030100b0; 
  border-width: 2px; 
  left: 10%;
  right: 10%;
  float:left; 
  position: absolute; 
  text-align : justify;
}
/*Pour Les boutons :*/

  /*Pour le bouton connection :*/
.button1 {
  background-color:#a5e22c; 
  border:solid; 
  border-color:#006400; 
  border-width: 2px; 
  right: 0px ; 
  position :absolute ;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 25px;
  transition-duration: 0.4s;
}
.button1:hover {
  background-color: #00af00;
  color: white;
}

  /*Pour les boutons de navigation de la page d'acceuil :*/
.button2 {
  background-color:#fc9cca; 
  border:solid; 
  border-color:#8B008B; 
  border-width: 1px;  
  border-radius: 5px;
  padding: 10px 24px;
  transition-duration: 0.4s;
  font-size: 14px;
}
.button2:hover {
  background-color: #fa59a7;
  color: white;
}


.button3 {
  background-color: white;
  color: black;
  border: 2px solid #555555;
  font-size: 20px;
  border-radius: 45%;
  padding: 10px;
}
.button3:hover {
  background-color: #555555;
  color: white;
}

  /*Pour les de bas de page :*/
.unstyled-button {
    border: none;
    padding: 0;
    background: none;
    padding-right: 10px ;
    padding-left: 10px ;
  }
  /*Pour le bouton inscription dans connexion :*/
  .inscription {
    background-color: #c0af12f6; 
    border-radius: 30px;
  }

  /*Pour les barres de recherches :*/
.barre1 { width : 350px; 
  height : 40px; 
  border-radius: 12px;
}


  .container { 
    width: 1000px; 
    height: 500px;
    margin: 0 auto;
  }


.login {
  background-color: #c0af12f6; 
  border-radius: 30px;
}
.mdp{
  font-family: Comic Sans MS;
}
a {
  color: #000000;
}

.contact { 
  font-family: Didot; 
  font-weight: bold;
  font-size: 40px;
}

.fp {
  color: #000000;
  font-family: 'pacifico';
  font-weight: lighter;

}
.sexe {
  color:#000000
}
.day {
  display: flex;
}



.brd {
 border: 3px solid black;}


/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
.boxinfos{
  border-radius: 30px;
  background-color: #ecf0ee; 
  border: solid; 
  border-color:#030100b0; 
  border-width: 2px;
  display: table;
  position: absolute;
  left: 60%;
  right: 15%;
  height: 30%;
  width: 400px;
}
.boxdocteur {
  border-radius: 30px;
  background-color: #ecf0ee; 
  border: solid; 
  border-color:#030100b0; 
  border-width: 2px;
  display: table;
  position: absolute;
  left: 15%;
  right: 70%;
  height: 30%;
  width: 400px;
}



