{% extends "base.html" %}

{% block content %}

<div class = "box40">

		<div class="container-fluid" id="wrapper">
			<center>
			<div class="row">
				<div class="col-lg-4 col-lg-offset-4" id="content">
					<h1>Les remèdes traitants votre problème : </h1>
				</center>
					<center>
					<h2>{{ symptome }}</h2>
					<ul class="list-group t20">
						{% for remede in remedes %} 
						<a href="{{ url_for('infos_Remede', oid=remede._id)}}">
							<li class="list-group-item">
								{{ remede.Remede }}
							</li>
						</a>
						{% endfor %}
					</ul>
				</center>
<br>
<br>

				</div>
				<center>
				<a href="{{ url_for('index')}}">MOTEUR DE RECHERCHE</a>
			</center>
{% endblock %}
			</div>



</div>