{% extends "base.html" %}

{% block content %}

   
    <center>
<!-- zone de connexion -->

    <!--Colonnes-->
   
    <center><div class="block">
        <div class="container">
            
                <div class="box3">
                    <form action="{{ url_for('connexion') }}" method="POST">
                    
			
                        <center><h2>Je me connecte !</h2></center>
                        </br>
                            <div class="box3-1">
                               <center><h3>J'ai déjà un compte AlloBobo</h3></center> 
                                </br>
                                <label><b>Votre email</b></label>
                                <input type="email" placeholder="" name="email" required>
                                <br/>
                                </br>
                                <label><b>Mot de passe</b></label>
                                <input type="password" placeholder="" name="password" required>
                                <br/>
                                </br>
                                <center><input class="login" type="submit" id='submit' value='Se Connecter' ></center>
                                <br/>
                                <center><text type="submit" class="mdp"> <a href="/Mot-de-passe-oublié">Mot de passe oublié ?</a> </text></center>
                                <br/>
                             </div>
                             </br>
                    </form>
                             <div class="box3-2">
                                <center><h3>Bienvenue sur AlloBobo !</h3></center> 
                                </br>
                                <center><button class="inscription" type="submit"> <a href="/Inscription">S'inscrire</a> </button></center>
                                <br/>
                            </div>
                            <br/>
                    
                </div>
                


               
                
		
		
                </div>

            </div>
        </div>
    </div>

 

</center>
{% endblock %}

