{% extends "base.html" %}

{% block content %}
<body>
    <div class= "box40">
<p>
<b>Qu'est-ce qu'Allobobo ?</b>
</p>

<p>
Allobobo est une plateforme permettant de trouver une solution de médecines douces à de nombreux symptômes communs.
</p>

<p>
<b>Pourquoi Allobobo ?</b>
</p>

<p>
Allobobo a pour ambition de proposer des solutions à des maux communs afin d'éviter l'utilisation de la médecine convetionelle.
</p>

<p>
<b>Quel est le but d'Aloobobo ?</b>
</p>

<p>
Nous souhaitons mettre en avant les solutions de médecines alternatives disponibles pour tous, tout en ne négligeant pas la santé de nos utilisateurs et si nécessaire les rediriger vers le practiciens approriés.
</p>

<p>
<b>Pour qui a été créé Allobobo ?</b>
</p>

<p>
Tout le monde! Allobobo s'adresse à toutes personnes s'intéressant aux médecines alternatives et même aux professionnels! 
</p>

<p>
<b>Qui sont les créteurs d'Allobobo ?</b>
</p>

<p>
Allobobo est une plateforme créée par un groupe d'étudiants souhaitant s'exercer dans la création d'un site et la gestion de données.
</p>

</div>
</body>
{% endblock %}


