{% extends "base.html" %}

{% block content %}
Nos Offres

<div class="container-fluid" id="wrapper">
			
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4" id="content">
            <h2>Voici nos offres proposées : </h2>
            
            <ul class="list-group t20">
                {% for remede in remedes %} 
                <a href="{{ url_for('infos_Remede', oid=remede._id)}}">
                    <li class="list-group-item">
                        {{ remede.Remede }} :
                        {% for symptome in remede.Symptome %}  
                        {{ symptome }},
                        {% endfor %}
                    </li>
                </a>
                {% endfor %}
            </ul>
        </div>
        <a href="{{ url_for('index')}}">MOTEUR DE RECHERCHE</a>
    </div>



{% endblock %}