{% extends "base.html" %}

{% block content %}
<div class = "box40">
<center><h1> Top 10 des symptômes </h1></center>
<font size="4">
<br>
<li><b><i>Saignement de nez : </i></b>Le saignement de nez, ou épistaxis, est un phénomène courant et souvent bénin. Néanmoins, dans certains cas, avoir le nez qui saigne peut être le signe d'un problème de santé plus grave. Une consultation en urgence est notamment recommandée en cas de saignements de nez persistants ou à répétition.
</li><br>
<li><b><i>Mal de tête : </i></b>Un mal de tête est le plus souvent dû à une céphalée de tension ou à une migraine. Certains médicaments peuvent le soulager. En présence de certaines céphalées, il est nécessaire de consulter un médecin.
</li><br>
<li><b><i>Brulûre : </i></b>Les brûlures sont des lésions produites par la chaleur, l'électricité, les rayonnements ou des produits chimiques. Les brûlures provoquent de la douleur, des vésicules, un gonflement et des pertes de peau à des degrés divers.
</li><br>
<li><b><i>Tremblements : </i></b>Un tremblement est un mouvement involontaire, rythmique et par oscillations d'une partie du corps, comme les mains, la tête, les cordes vocales, le tronc ou les jambes. Les tremblements se produisent lorsque les muscles se contractent et se détendent de façon répétée.
</li><br>
<li><b><i>Constipation : </i></b>On parle de constipation lorsque les selles ne progressent pas suffisamment rapidement dans le côlon (gros intestin), ce qui se traduit par : des selles trop peu fréquentes, des selles trop dures responsables de difficultés de défécation .
</li><br>
<li><b><i>Mal de ventre : </i></b>Vous pouvez avoir mal au ventre à cause d'une maladie infectieuse ou bactérienne ou de troubles digestifs divers qui perturbent votre transit. La constipation, les reflux gastriques, les flatulences ou les gaz sont aussi des causes très communes du mal de ventre.
</li><br>
<li><b><i>Cholesterol : </i></b>Le cholestérol est un lipide indispensable au bon fonctionnement des membranes cellulaires. Il est produit par le foie et 'intestin. Il est transporté dans le sang par des lipoprotéines mines, ce qui permet de différencier les LDL, HDL et VLDL cholestérol, en fonction de la densité de la lipoprotéine qui le transporte.
</li><br>
<li><b><i>Fièvre : </i></b>La fièvre est définie par une température corporelle anormalement élevée, dépassant les 38°C et provenant généralement d'une infection. La fièvre est définie par une température supérieure à 38°C. Elle est un mode de réponse de l'organisme aux infections.
</li><br>
<li><b><i>L'eczéma : </i></b>L'eczéma atopique ou dermatite atopique est une maladie cutanée prurigineuse (provoquant des démangeaisons) chronique, évoluant par poussées. Il touche principalement les nourrissons et les enfants mais peut persister à l'adolescence et à l'âge adulte.
</li><br>
<li><b><i>Acné : </i></b>L'acné est une maladie de la peau caractérisée par l'éruption de boutons rouges, de points noirs et de kystes. Elle touche le plus souvent le visage et le thorax, mais aussi le dos, le torse voire le cuir chevelu. L'acné est le reflet de réactions qui ont lieu dans les glandes sébacées.
</li><br> 
</font>
{% endblock %}
</div>



