{% extends "base.html" %}

{% block content %}
<body>
    
<center>

<table border="1">
    
    <thead>
        
        <tr> 
        <td><b>Spécialité</b> </td>
        <td><b>Abonnement</b> </td>
        <td><b>Tarif</b></td>
        </tr>
       
    </thead>
    
    <br>

    <tbody> 
        <tr> 
            <td> Chirurgien </td>
            <td> Premium </td>
            <td> 200 euros l'année </td>
            </tr>
        
        <tr> 
            <td> Nutritionniste </td>
            <td> Basique </td>
            <td> 300 euros l'année </td>
        </tr>

        <tr> 
            <td> Gynécologue </td>
            <td> Premium + </td>
            <td> 1000 euros l'année </td>
        </tr>

        <tr> 
            <td> Charlatan </td>
            <td> Premium + </td>
            <td> 10 euros l'année </td>
        </tr>

       

    </tbody>

    

</table>

<p>  Liste non exhaustive, contacter le service client pour plus d'informations </p>
</center>

</body>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
{% endblock %}