{% extends "base.html" %}

{% block content %}
<div class = "box40">
<center><h1> A propos </h1></center> 

<font size="4">   <p><i><b>
Allobobo est un projet ayant pour but de répertorié des solutions de médecines alternatives à des symptômes communs.
</i></b></p>
<p>
Cet outil permet également en cas de besoin d'être dirigé vers le médecin spécialisé adhéquat.
Cet outil est développé par la promotion de la formation POEI Consultant BI / Big Data, en tant que projet d'apprentissage.
</p>
<p><i><b>
A propos des médecines douces:
</i></b></p>
<p>
Les médecines douces - alternatives ou naturelles - font partie dans leur majorité de l’histoire de l’humanité depuis plusieurs siècles. Sous ce terme parfois un peu fourre-tout se cachent des pratiques de soins non conventionnelles qui sont plus ou moins reconnues selon les pays.
En effet, la médecine alternative est un terme qui décrit des traitements médicaux qui sont utilisés à la place ou en complément des protocoles de médecine classique et des thérapies traditionnelles.
Certaines personnes l'appellent également médecine intégrative ou médecine complémentaire, puisqu’elle est utilisée le plus généralement simultanément à la médecine conventionnelle par de nombreux praticiens pour améliorer le bien-être et la santé.
La médecine alternative traditionnelle reconnue peut inclure différents types de médecines douces selon les pays de nombreuses pratiques comme l’acupuncture, la médecine Ayurveda, l’homéopathie, la naturopathie, la sophrologie, le yoga, l'EFT, la médecine chinoise ou orientale.
Ces pratiques de médecine parallèle sont de plus en plus populaires sur tous les continents. Les raisons principales sont souvent une volonté de réduire l’utilisation de produits pharmaceutiques avec des effets secondaires et la mise au grand jour des différents bienfaits prouvés scientifiquement.
</p>
</font>
{% endblock %}
</div>